[submodule "thirdparty/google/googletest"]
	path = thirdparty/google/googletest
	url = https://github.com/couchbasedeps/googletest.git
[submodule "thirdparty/couchbase/tlm"]
	path = thirdparty/couchbase/tlm
	url = https://github.com/couchbase/tlm.git
